#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}